# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-dev
package
*.local

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

plainly-aescripts/.pnp.*
plainly-aescripts/.yarn/*
!plainly-aescripts/.yarn/patches
!plainly-aescripts/.yarn/plugins
!plainly-aescripts/.yarn/releases
!plainly-aescripts/.yarn/sdks
!plainly-aescripts/.yarn/versions

plainly-plugin/.pnp.*
plainly-plugin/.yarn/*
!plainly-plugin/.yarn/patches
!plainly-plugin/.yarn/plugins
!plainly-plugin/.yarn/releases
!plainly-plugin/.yarn/sdks
!plainly-plugin/.yarn/versions
