@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: 29, 29, 30;
    --color-bg-secondary: 43, 43, 43;
  }
}

body {
  background: rgb(var(--color-bg-primary)); /* after effects bg color */
  font-family: Arial, Helvetica, sans-serif;
}

#app::-webkit-scrollbar {
  display: block;
}
body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  width: 7px;
  height: 7px;
  background: rgb(75 75 75 / 1);
  border-radius: 3.5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(100 100 100 / 1);
}
::-webkit-scrollbar-resizer {
  display: none;
}
::-webkit-scrollbar-button {
  height: 0px;
}
::-webkit-scrollbar-corner {
  display: none;
}
