name: CI Workflow

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  biome:
    runs-on: ubuntu-latest
    name: Run Biome check
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: ${{ runner.os }}-turbo-

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.11.1'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome check
        run: biome ci .

  build:
    runs-on: ubuntu-latest
    needs: biome
    name: Run build
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: ${{ runner.os }}-turbo-

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.11.1'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run build
        run: yarn build
