name: CI Workflow

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  biome-check-aescripts:
    name: Run Biome check AeScripts
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plainly-aescripts

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '20.11.1'
          cache: 'yarn'
          cache-dependency-path: 'plainly-aescripts/yarn.lock'

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome check
        working-directory: plainly-aescripts
        run: biome ci ./src

  build-aescripts:
    name: Run build AeScripts
    runs-on: ubuntu-latest
    needs: biome-check-aescripts
    defaults:
      run:
        working-directory: plainly-aescripts

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '20.11.1'
          cache: 'yarn'
          cache-dependency-path: 'plainly-aescripts/yarn.lock'

      - name: Run build
        working-directory: plainly-aescripts
        run: |
          yarn install --immutable
          yarn build

  biome-check-plugin:
    name: Run Biome check Plugin
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: plainly-plugin

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '20.11.1'
          cache: 'yarn'
          cache-dependency-path: 'plainly-plugin/yarn.lock'

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome check
        working-directory: plainly-plugin
        run: biome ci ./src

  build-plugin:
    name: Run build Plugin
    runs-on: ubuntu-latest
    needs: biome-check-plugin
    defaults:
      run:
        working-directory: plainly-plugin

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '20.11.1'
          cache: 'yarn'
          cache-dependency-path: 'plainly-plugin/yarn.lock'

      - name: Run build
        working-directory: plainly-plugin
        run: |
          yarn install --immutable
          yarn build
