# This workflow will perform signing of the plugin on manual trigger
name: Sign Plugin

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-and-sign:
    name: Build and Run ZXPSignCMD Tool
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: ${{ runner.os }}-turbo-

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20.11.1'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run build
        run: yarn build

      - name: Prepare package for signing
        run: yarn prepare

      - name: Download ZXPSignCmd Tool
        run: curl -L -o ZXPSignCmd.dmg https://github.com/Adobe-CEP/CEP-Resources/raw/master/ZXPSignCMD/4.1.2/macOS/ZXPSignCmd-64bit.dmg

      - name: Mount ZXPSignCmd Tool
        run: hdiutil attach ZXPSignCmd.dmg

      - name: Copy ZXPSignCmd Tool to /usr/local/bin
        run: |
          sudo cp /Volumes/ZXPSignCmd-64bit/ZXPSignCmd-64bit /usr/local/bin/
          sudo chmod +x /usr/local/bin/ZXPSignCmd-64bit

      - name: Import certificate
        run: echo "${{ secrets.PLUGIN_CERTIFICATE_P12 }}" | base64 --decode > certificate.p12

      - name: Verify certificate
        run: openssl pkcs12 -info -in certificate.p12 -noout -passin pass:${{ secrets.PLUGIN_CERTIFICATE_P12_PASSWORD }}

      - name: Perform signing
        run: |
          ZXPSignCmd-64bit -sign \
            package \
            plainly-plugin.zxp \
            certificate.p12 \
            ${{ secrets.PLUGIN_CERTIFICATE_P12_PASSWORD }} \
            -tsa http://timestamp.apple.com/ts01

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: plainly-plugin
          path: plainly-plugin.zxp

      - name: Cleanup
        run: |
          rm certificate.p12
          rm -rf package
          hdiutil detach /Volumes/ZXPSignCmd-64bit
